@font-face {
  font-family: "infinity";
  src: url("fonts/madeinfinity_personaluse-thin-webfont.woff2") format("woff2"),
    url("fonts/madeinfinity_personaluse-thin-webfont.woff") format("woff");
}

.play {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  margin: auto;
  width: 390px;
  height: 390px;

  margin-top: 50px;
}

.div-1,
.div-2,
.div-3,
.div-4,
.div-5,
.div-6,
.div-7,
.div-8,
.div-9 {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 100%;
  border: 2px solid #475569;
  border-top: none;
  border-left: none;
  cursor: pointer;
}

.div-3,
.div-6,
.div-9 {
  border-right: none;
}

.div-7,
.div-8,
.div-9 {
  border-bottom: none;
}

#avatar {
  font-size: 43px;
  font-family: "infinity";
}

/* HEADER  */

.head {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: "infinity";
}

.btns {
  display: flex;
  gap: 10px;
}
.btn-x,
.btn-o {
  border-radius: 8px;
  border: 1px solid #475569;
  background-color: white;

  width: 70px;
  height: 30px;

  cursor: pointer;
}

.btn-active {
  background-color: #475569;
  border: 1px solid white;
  color: white;
}

/* RESTART : */

.reset {
  display: flex;
  justify-content: center;

  width: 100vw;
  margin: auto;
}
.restart {
  border-radius: 8px;
  background-color: #475569;
  border: 1px solid white;
  color: white;
  cursor: pointer;

  width: 390px;
  height: 25px;

  margin-top: 60px;
}
